.add-btn-wrapper {
  border: none;
  background-color: #24a0ed;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 7px 14px;
  cursor: pointer;
}
.add-btn-wrapper:hover {
  transform: scale(1.03);
}
