/* .exams-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exam-actions {
  display: flex;
  margin-top: 30px;
}
.exam-filters {
  display: flex;
} */
