.question {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  margin: 0;
  cursor: pointer;
  text-align: center;
}
.question td {
  display: flex;
  align-items: left;
  width: 20%;
}
.question:hover {
  background-color: rgb(212, 212, 212);
}

.question-id {
  margin-left: 5px;
  width: 5%;
  justify-content: left;
}

.question-text {
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  justify-content: left;
}
.question-text span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.question-difficulty {
  color: white;
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 1px 0.5px;
}

.question-topic {
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
}

.question-points {
  max-width: 10%;
}

.easy {
  background-color: rgb(35, 167, 35);
}
.med {
  background-color: rgb(242, 230, 6);
}
.hard {
  background-color: rgb(238, 63, 63);
}
.even {
  background-color: rgb(241, 241, 241);
}
