.btn {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #24a0ed;
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}
.btn:hover {
  transform: scale(1.03);
}
