@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.login-main {
  width: 700px;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e8bc0;
  color: white;
  font-family: "Montserrat", sans-serif;
}
.login-heading {
  font-weight: 900;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form-field {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
.login-form-input {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 200px;
}
.login-form-btn {
  margin: auto;
  border: none;
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}
